<body>
    <span>
        <h6>by me</h6>
        <h1>Fin-Wise</h1>
    </span>
    <div class="container">
        <div class="content">
            <h4>
                Planeje, economize, conquiste.
            </h4>
            <img src="assets/login_img.png" alt="">
            <p>Equilibrar suas finanças é como navegar em águas tranquilas: requer atenção constante para manter o rumo certo e evitar tempestades financeiras.</p>
        </div>
        <div class="change_between_login_creat">
            <router-outlet></router-outlet>
        </div>
    </div>
    <span>

    </span>
</body>