<div class="container">
    <div class="head">
        <h2>Receitas</h2>
        <div class="user-side">
            <div class="user">
                <div class="profile-pic">H</div>
                <div class="username">Henrique</div>
                <mat-icon>keyboard_arrow_down</mat-icon>
            </div>
        </div>
    </div>
    <div class="content-account">
        <div class="content-left">
            <div class="add-card">
                <div class="add">
                    <mat-icon>add</mat-icon>
                </div>
                <p>Nova receita</p>
            </div>
            <div class="card-expensives">
                <div class="info-name">
                    <div class="flex">
                        <div class="bank-icon">
                            <img src="https://th.bing.com/th/id/OIP.CB4Kq-oQshvfHeY-sUnG6QHaHa?rs=1&pid=ImgDetMain" alt="">
                        </div>
                        <div>Salario</div>
                    </div>
                    <div class="more">
                        <mat-icon class="options">more_vert</mat-icon>
                    </div>
                </div>
                <div class="money-now">
                    <div class="rigth-info">
                        <div>Saldo Atual</div>
                        <div>Saldo Esperado</div>
                    </div>
                    <div class="left-money">
                        <div>00,00</div>
                        <div>00,00</div>
                    </div>
                </div>
                <div class="add-expenses">
                    <button class="add-button">ADICIONAR DESPESA</button>
                </div>
            </div>
        </div>
        <div class="content-rigth">
            <div  class="card-left">
                <div class="info-money">
                    <div>
                        Saldo atual
                    </div>
                    <div class="money">
                        R$ 00,00
                    </div>
                </div>
                <div class="icon-dollar">
                    <mat-icon>attach_money</mat-icon>
                </div>
            </div>
            <div  class="card-left">
                <div class="info-money">
                    <div>
                        Saldo previsto
                    </div>
                    <div class="money">
                        R$ 00,00
                    </div>
                </div>
                <div class="icon-dollar">
                    <mat-icon>payments</mat-icon>
                </div>
            </div>
        </div>
    </div>
</div>