<div class="container">
    <div class="head">
        <h2>Dashboard</h2>
        <div class="user-side">
            <div class="user">
                <div class="profile-pic">H</div>
                <div class="username">Henrique</div>
                <mat-icon>keyboard_arrow_down</mat-icon>
            </div>
        </div>
    </div>
    <div class="currency">
        <div class="card-currency">
            <div class="info">
                <h3>Saldo Atual</h3>
                <p>R$ 00,00</p>
            </div>
            <div class="icon-currency">
                <mat-icon >account_balance</mat-icon>
            </div>
        </div>
        <div class="card-currency">
            <div class="info">
                <h3>Receitas</h3>
                <p>R$ 00,00</p>
            </div>
            <div class="icon-currency">
                <mat-icon >arrow_upward</mat-icon>
            </div>
        </div>
        <div class="card-currency">
            <div class="info">
                <h3>Despesas</h3>
                <p>R$ 00,00</p>
            </div>
            <div class="icon-currency">
                <mat-icon >arrow_downward</mat-icon>
            </div>
        </div>
        <div class="card-currency">
            <div class="info">
                <h3>Cartão de crédito</h3>
                <p>R$ 00,00</p>
            </div>
            <div class="icon-currency">
                <mat-icon >credit_card</mat-icon>
            </div>
        </div>
    </div>
    <div class="container-expenses">
        <div class="card-expensives">
            <div class="title-expensives">Despesas por categorias</div>
            <div class="content-expensives">
                <mat-icon class="icon-mat">mood_bad</mat-icon>
                <h2>Opa! Você ainda não possui despesas neste mês</h2>
                <h3>Adicione seus gastos no mês atual através do botão (+), para ver seus gráficos.</h3>
            </div>
            <div class="more">
                VER MAIS
            </div>
        </div>
        <div class="card-expensives">
            <div class="title-expensives">Receitas por categoria</div>
            <div class="content-expensives">
                <mat-icon class="icon-mat">mood_bad</mat-icon>
                <h2>Opa! Você ainda não possui despesas neste mês</h2>
                <h3>Adicione seus gastos no mês atual através do botão (+), para ver seus gráficos.</h3>
            </div>
            <div class="more">
                VER MAIS
            </div>
        </div>
        <div class="card-expensives">
            <div class="title-expensives">Balanço mensal</div>
            <div class="content-expensives">
                <mat-icon class="icon-mat">mood_bad</mat-icon>
                <h2>Opa! Você ainda não possui despesas neste mês</h2>
                <h3>Adicione seus gastos no mês atual através do botão (+), para ver seus gráficos.</h3>
            </div>
            <div class="more">
                VER MAIS
            </div>
        </div>
        <div class="card-expensives">
            <div class="title-expensives">Cartões de crédito</div>
            <div class="content-expensives">
                <mat-icon class="icon-mat">mood_bad</mat-icon>
                <h2>Opa! Você ainda não possui despesas neste mês</h2>
                <h3>Adicione seus gastos no mês atual através do botão (+), para ver seus gráficos.</h3>
            </div>
            <div class="more">
                VER MAIS
            </div>
        </div>
        <div class="card-expensives">
            <div class="title-expensives">Planejamento mensal</div>
            <div class="content-expensives">
                <mat-icon class="icon-mat">mood_bad</mat-icon>
                <h2>Opa! Você ainda não possui despesas neste mês</h2>
                <h3>Adicione seus gastos no mês atual através do botão (+), para ver seus gráficos.</h3>
            </div>
            <div class="more">
                VER MAIS
            </div>
        </div>
    </div>
    <div>
        <img src="assets/footer.png" alt="" class="image-footer">
    </div>
</div>